.container {
    position: relative;
    text-align: center;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
}

.board {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 3fr 3fr 3fr;
    position: fixed;
    top: 15%;
    left: 33%;
    width: 600px;
    height: 600px;
    font-size: 10rem;
    border: solid black thick;
}

.victory {
    position: fixed;
    z-index: 9;
    top: 35%;
    left: 38%;
    border: solid black thick;
    width: 400px;
    height: 200px;
    font-size: 3rem;
    display: none;
    color: black;
    background-color: white;
    text-align: center;
}

.box {
    border: solid black thin;
    width: 100%;
    height: 100%;
    text-align: center;
}

.box:hover {
    background-color: rgb(195, 195, 195);
}

.box:active {
    background-color: rgb(150, 150, 150);
}

